body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #000; /* Preto sólido como fundo principal */
    color: #fff; /* Texto branco */
}

header {
    background-color: #080808; /* Rosa forte */
    text-align: center;
    padding: 1em;
}

.title {
    color: #8a2be2; /* Roxo */
}

section {
    margin: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #ff03c8; /* Rosa mais claro */
}

p {
    color: #777777; /* Texto mais escuro */
}

ul {
    list-style-type: square;
    color: #777;
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    overflow-x: auto;
    border-radius: 8px;
}

code {
    font-family: 'Courier New', monospace;
    color: #333;
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; /* Certifique-se de que o vídeo está atrás do conteúdo */
}

#content {
    position: relative;
    z-index: 1; /* Certifique-se de que o conteúdo está à frente do vídeo */
}
